{{- if and .Site.Params.comments (not .Params.disableComments) -}}
<div class="comments">
<script src="https://giscus.app/client.js"
        data-repo="hunya-ops/bb.9ba.in"
        data-repo-id="R_kgDOQ0mg-A"
        data-category="General"
        data-category-id="DIC_kwDOQ0mg-M4C0o5b"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
</div>
{{- end -}}